<div
  data-controller="snippets"
  data-snippets-selected-folder-id="<%= @current_folder_id %>"
  data-snippets-original-folder-id="<%= @current_folder_id %>"
  data-snippets-confirm-path="<%= file_snippet_path(@snippet) %>"
>
  <input data-action="keyup->snippets#modal_search" class="move-snippet--search" type="search" placeholder="Find a folder...">
  <div class="move-snippet--list" data-target="snippets.list">
    <% @folders.each do |folder| %>
      <div
        data-action="click->snippets#select_folder"
        data-folder-id="<%= folder.id %>"
        data-target="snippets.listItem"
        data-filter-key="<%= folder.name %>"
        class="<%= folder.id == @current_folder_id ? 'move-snippet--item-selected' : 'move-snippet--item' %>"
      >
        <span><%= folder.name %></span>
        <% if folder.id == @current_folder_id %>
          <img id="selected-checkmark" src="/icons/checked.svg" width="14">
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="move-snippet--buttons">
    <button data-action="click->modal#close" class="button--cancel">Cancel</button>
    <button
      data-action="click->snippets#file"
      data-target="snippets.moveButton"
      class="button--disabled ml-2"
      disabled
    >
      <%= @header %>
    </button>
  </div>
</div>
