<div
  data-controller="list-select"
  data-list-select-selected-id-value="<%= @current_folder_id %>"
  data-list-select-original-id-value="<%= @current_folder_id %>"
  data-list-select-confirm-path-value="<%= file_snippet_path(@snippet) %>"
>
  <input data-action="input->list-select#search" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-sm shadow-sm" type="search" placeholder="Find a folder...">
  <div class="mt-4 border border-gray-300 rounded-sm w-full h-96 overflow-y-scroll">
    <% @folders.each do |folder| %>
      <div
        data-action="click->list-select#selectFolder"
        data-list-select-id="<%= folder.id %>"
        data-id="<%= folder.id %>"
        data-list-select-target="item"
        data-filter-value="<%= folder.name %>"
        class="<%= folder.id == @current_folder_id ? 'move-snippet--item-selected' : 'move-snippet--item' %>"
      >
        <span><%= folder.name %></span>
      </div>
    <% end %>
  </div>
  <div class="mt-4 flex justify-end">
    <button data-action="click->modal#close" class="button--cancel">Cancel</button>
    <button
      data-action="click->list-select#file"
      data-list-select-target="button"
      class="button--disabled ml-2"
      disabled
    >
      <%= @header %>
    </button>
  </div>

  <div data-list-select-target="checkmark" class="hidden">
    <%= render partial: 'shared/icons/check', locals: { height: 5, width: 5, color: 'text-gray-500' } %>
  </div>
</div>
