<div data-controller="tabs">
  <div class="tabs--headers-container">
    <div><p>New Snippet</p></div>
    <div class="tabs--headers-wrapper">
      <div data-target="tabs.tab" data-action="click->tabs#change" class="tabs--header tabs--header-active">
        <span>Write</span>
      </div>
      <div data-target="tabs.tab" data-action="click->tabs#change" class="tabs--header">
        <span>Preview</span>
      </div>
    </div>
  </div>

  <div data-controller="highlight snippets">
    <div data-target="snippets.errors"></div>
    <%= form_for @snippet, remote: true, html: { data: { type: "html", action: "ajax:success->snippets#onCreateSuccess ajax:error->snippets#onCreateError" } } do |f| %>
      <div class="tabs-details">
        <div data-target="tabs.panel">
          <%= f.text_field :description, { data: { action: "input->highlight#updateDescription" }, class: "new-snippet--description", placeholder: "Snippet description..." } %>
          <%= f.text_area :body, { data: { action: "input->highlight#highlight" }, id: "code-text-area", class: "new-snippet--body" } %>
          <%= f.text_area :highlighted_body, { data: { target: "highlight.highlightedBody" }, class: "hidden" } %>
        </div>

        <div data-target="tabs.panel" class="hidden">
          <div class="new-snippet--preview">
            <h3 class="snippet--description" data-target="highlight.description"></h3>
            <div class="code-highlight" data-target="highlight.code"></div>
          </div>
        </div>
      </div>

      <div class="create-snippet--options-wrapper">
        <div class="flex v-center" style="cursor: pointer;"
          data-controller="checkbox"
          data-action="click->checkbox#toggle"
          data-checkbox-checked-text-value="Public"
          data-checkbox-checked-icon-value="/icons/lock-open.svg"
          data-checkbox-unchecked-text-value="Private"
          data-checkbox-unchecked-icon-value="/icons/lock-closed.svg"
        >
          <span data-checkbox-target="text">Public</span>
          <img data-checkbox-target="icon" src="/icons/lock-open.svg" width="20">
          <%= f.hidden_field :public, value: true, data: { checkbox_target: 'value' } %>
        </div>
        <div class="flex">
          <%= f.select :folder_id, options_from_collection_for_select(@folders, :id, :name, params[:folder_id]), prompt: 'Select folder...' %>
          <%= f.submit 'SAVE', class: "margin-left button--cta-new" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
