<div class="form--generic">
  <h1 class="text-center"><%= link_to 'SNIPPET SAFE', root_path %></h1>
  <h1 class="text-center">Resend confirmation email</h1>
  <p class="text-center">Please enter your email below and we'll resend you instructions on how to confirm your email address</p>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form--generic-form-sign-in-up" }) do |f| %>
    <%= render "shared/errors", resource: resource %>

    <div class="form--field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "RESEND", class: 'button--sign-in' %>
    </div>
  <% end %>

  <p class="text-center">Confirmed your email? <%= link_to 'Sign in', new_user_session_path %></p>
</div>
