<%= render 'shared/user_admin', { header: @header, sub_header: @sub_header, footer: @footer } do %>

  <%= form_for @user, url: user_registration_path, remote: true, html: { data: { controller: "registrations modal focus", modal_url_value: email_confirm_modals_users_path, type: "json", action: "ajax:success->modal#present ajax:error->registrations#onSignUpError" } } do |f| %>
    <div data-registrations-target="errors"></div>

    <div>
      <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :name, autocomplete: "name", class: "mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-sm", data: { registrations_target: 'name', focus_target: 'focus' } %>
    </div>

    <div class="mt-4">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autocomplete: "email", class: "mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-sm" %>
    </div>

    <div class="mt-4">
      <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-sm" %>
    </div>

    <div class="mt-4">
      <%= f.label :password_confirmation, 'Confirm password', class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-sm" %>
    </div>

    <%= f.submit "SIGN UP", class: "mt-4 button--cta-primary w-full flex justify-center" %>
  <% end %>

<% end %>
