<%= render 'shared/user_admin', { header: @header, sub_header: @sub_header, footer: @footer } do %>

  <%= form_for @user, url: user_registration_path, remote: true, html: { data: { controller: "registrations modal", modal_url_value: email_confirm_modals_users_path, type: "json", action: "ajax:success->modal#present ajax:error->registrations#onSignUpError" } } do |f| %>
    <div data-registrations-target="errors"></div>

    <div class="form--field">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "name", data: { registrations_target: 'name' } %>
    </div>

    <div class="form--field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="form--field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="form--field">
      <%= f.label :password_confirmation, 'Confirm password' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <%= f.submit "SIGN UP", class: "button--cta-primary w-full flex justify-center" %>
  <% end %>

<% end %>
