<% content_for :cache_control do %>
  <meta name="turbolinks-cache-control" content="no-preview">
<% end %>

<div class="flex" data-controller="folders" data-folders-folder-id-value="<%= @folders.first.id %>">
  <div class="flex-1 scroll">
    <div class="padding-left padding-bottom position-sticky z-3 bg-grey">
      <h2 class="no-margin">Folders</h2>
      <span class="text-12 color-grey flex v-center margin-top--tiny"><%= current_user.filed_snippets.count %> snippets | <%= current_user.filed_snippets.private_snippets.count %> private | <%= current_user.filed_snippets.public_snippets.count %> public</span>
    </div>
    <div class="card--container">
      <%= render 'folders/folders' %>
    </div>
  </div>

  <div class="flex-2 margin-left scroll" data-folders-target="body"></div>
</div>
