<% content_for :cache_control do %>
  <meta name="turbolinks-cache-control" content="no-preview">
<% end %>

<div class="flex" data-controller="folders" data-folders-folder-id-value="<%= @folders.first.id %>">
  <div class="flex-1 scroll" data-controller="infinite-scroll-container" data-action="scroll->infinite-scroll-container#scroll">
    <div class="padding-left padding-bottom position-sticky z-3 bg-grey">
      <h2 class="no-margin"><%= pluralize(@folders.count, 'Folder') %></h2>
      <span class="text-12 color-grey flex v-center margin-top--tiny"><%= pluralize(current_user.filed_snippets.count, 'snippet') %> | <%= current_user.filed_snippets.public_snippets.count %> public | <%= current_user.filed_snippets.private_snippets.count %> private</span>
    </div>

    <div class="card--container" data-infinite-scroll-container-target="entries">
      <%= render 'folders/folders' %>
    </div>

    <div data-infinite-scroll-container-target="pagination" class="hidden">
      <%= will_paginate @folders, container: false %>
    </div>
  </div>

  <div class="flex-2 margin-left scroll z-3" data-action="scroll->folders#scroll" data-folders-target="body"></div>
</div>
