<card :with-padding=<%= false %> >
  <h2 style="margin-top: 0px;"><%= @folders.size %> Folders</h2>
  <% @folders.each_slice(4) do |folders| %>
    <%= render partial: 'shared/folder_row', locals: { folders: folders } %>
  <% end %>
  <div class="folders--options-wrapper">
    <%= link_to 'NEW FOLDER', new_folder_path, class: 'button--cta-new' %>
    <%= link_to 'NEW SNIPPET', new_snippet_path, class: 'button--cta-new' %>
  </div>
</card>
