<div
  data-controller="infinite-scroll snippets-list"
  data-infinite-scroll-base-url="<%= folder_path(@folder) %>"
  data-snippets-list-id="<%= @folder.id %>">
  <div style="display: flex; align-items: center; justify-content: space-between;" class="margin-top">

      <div class="searchbar">
        <input autofocus
          type="text"
          placeholder="Search"
          data-action="input->infinite-scroll#search"
          data-target="infinite-scroll.input"
        />
        <img src="/icons/search.svg">
      </div>

    <%= link_to 'ADD SNIPPET', new_modals_snippet_path, class: 'button--cta-new', data: { controller: 'modal', action: 'modal#present', modal_url_value: new_modals_snippet_path(folder_id: @folder.id) } %>
  </div>

  <div class="margin-top"
    data-target="infinite-scroll.entries snippets-list.entries"
    data-action="scroll@window->infinite-scroll#scroll snippet-created@window->infinite-scroll#add snippet-updated@window->snippets-list#update"
  >
    <%= render 'snippets/snippets' %>
  </div>

  <div data-target="infinite-scroll.pagination" class="hidden">
    <%= will_paginate @snippets, container: false %>
  </div>
</div>
