<%= render 'shared/cards/card_no_padding', id: snippet.client_id, data: { controller: "snippets", action: "snippet-updated@window->snippets#update", redirect_after_delete: true } do %>
  <div class="px-4 pt-4 sm:pb-0">
    <div class="relative flex items-start space-x-3">
      <%= render partial: 'users/preview', locals: { resource: snippet, user: snippet.user } %>
      <div>
        <div style="display: flex; flex-direction: column;">
          <div style="display: flex; justify-content: flex-end; margin-bottom: 8px; align-items: center;">
            <% if snippet.private? %>
              <%= render partial: 'shared/icons/lock_closed', locals: { classes: 'h-4 w-4 text-yellow-500 mr-1' } %>
            <% end %>
            <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-100 text-yellow-800">
              <%= snippet.language.name %>
            </span>
            <% if @display_popover %>
              <%= render partial: 'shared/popover_trigger', locals: { popover_path: popover_snippet_path(snippet) } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  
    <div class="flex flex-col md:flex-row mt-4 mb-3 justify-between">
      <div class="flex items-center">
        <h5 class="m-0"><%= snippet.description %></h5>
      </div>

      <div class="flex justify-end mt-2 md:mt-0">
        <%= render partial: 'shared/like_button', locals: { snippet: snippet } %>
        <%= render partial: 'shared/comment_button', locals: { snippet: snippet } %>
        <%= render partial: 'shared/picture_button', locals: { snippet: snippet } %>
      </div>
    </div>
  </div>

  <%= render partial: 'shared/codemirror', locals: { code: snippet.body, mode_id: snippet.language_id, read_only: true, capture: false  } %>
<% end %>
