<% folder = snippet.folder_for_user(current_user) %>

<%= render 'shared/cards/card_navigation', url: snippet_path(snippet), id: snippet.client_id do %>
  <div>
    <div class="relative flex items-start space-x-3">
      <%= render partial: 'users/preview', locals: { resource: snippet, user: snippet.user } %>
      <div>
        <div style="display: flex; flex-direction: column;">
          <div style="display: flex; justify-content: flex-end; margin-bottom: 8px; align-items: center;">
            <% if snippet.private? %>
              <img class="margin-right--tiny" title="This snippet is only visible to you" data-checkbox-target="icon" src="/icons/lock-closed.svg" width="16">
            <% end %>
            <% if folder %>
              <div class="folder-tag">
                <img src="/icons/white/folder.svg" width="12">
                <span class="block margin-left--tiny"><%= folder.name %></span>
              </div>
            <% end%>
            <% if @display_popover %>
              <%= render partial: 'shared/popover_trigger', locals: { popover_path: popover_snippet_path(snippet) } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex mt-4 mb-2 justify-between">
      <div>
        <h5 class="m-0"><%= snippet.description %></h5>
      </div>

      <div class="flex">
        <%= render partial: 'shared/like_button', locals: { snippet: snippet } %>
        <%= render partial: 'shared/comment_button', locals: { snippet: snippet } %>
      </div>
    </div>

    <%= render partial: 'shared/code_highlight', locals: { code: snippet.highlighted_body, language: snippet.language, classes: 'snippet--content' } %>
  </div>
<% end %>
