<% folder = snippet.folder_for_user(current_user) %>

<%= render 'shared/cards/card' do %>
  <div
    id="<%= snippet.client_id %>"
    data-controller="snippets"
    data-action="snippet-updated@window->snippets#update"
    data-redirect-after-delete="true"
  >
    <div class="relative flex items-start space-x-3">
      <%= render partial: 'users/preview', locals: { resource: snippet, user: snippet.user } %>
      <div>
        <div style="display: flex; flex-direction: column;">
          <div style="display: flex; justify-content: flex-end; margin-bottom: 8px; align-items: center;">
            <% if snippet.private? %>
              <img class="margin-right--tiny" data-checkbox-target="icon" title="This snippet is only visible to you" src="/icons/lock-closed.svg" width="16">
            <% end %>
            <% if folder %>
              <div class="folder-tag">
                <img src="/icons/white/folder.svg" width="12">
                <span class="block margin-left--tiny"><%= folder.name %></span>
              </div>
            <% end%>
            <% if @display_popover %>
              <%= render partial: 'shared/popover_trigger', locals: { popover_path: popover_snippet_path(snippet) } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <h5 class="m-0 mt-4 mb-4"><%= snippet.description %></h5>

    <%= render partial: 'shared/code_highlight', locals: { code: snippet.highlighted_body, language: snippet.language  } %>
  </div>
<% end %>
