<%= render 'shared/cards/card_navigation', url: snippet_path(snippet), id: snippet.client_id do %>
  <div>
    <div class="relative flex items-start space-x-3">
      <%= render partial: 'users/preview', locals: { resource: snippet, user: snippet.user } %>
      <div>
        <div style="display: flex; flex-direction: column;">
          <div style="display: flex; justify-content: flex-end; margin-bottom: 8px; align-items: center;">
            <% if snippet.private? %>
              <img class="margin-right--tiny" title="This snippet is only visible to you" data-checkbox-target="icon" src="/icons/lock-closed.svg" width="16">
            <% end %>
            <div class="rounded-md bg-gray-100 px-2 py-1 text-gray-500">
              <span class="block text-xs"><%= snippet.language.name %></span>
            </div>
            <% if @display_popover %>
              <%= render partial: 'shared/popover_trigger', locals: { popover_path: popover_snippet_path(snippet) } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex mt-4 mb-2 justify-between">
      <div>
        <h5 class="m-0"><%= snippet.description %></h5>
      </div>

      <div class="flex">
        <%= render partial: 'shared/like_button', locals: { snippet: snippet } %>
        <%= render partial: 'shared/comment_button', locals: { snippet: snippet } %>
      </div>
    </div>
    
    <div class="relative">
      <% if snippet.has_preview? %>
        <div title="View the entire snippet" class="transition text-gray-500 hover:underline absolute border rounded-md bottom-2 right-2 z-3 bg-white text-sm px-2 py-1">
          <span>More...</span>
        </div>
      <% end %>
      <%= render partial: 'shared/codemirror', locals: { code: snippet.preview, mode_id: snippet.language_id, read_only: true, classes: 'snippet--content' } %>
    </div>
  </div>
<% end %>
