<div data-controller="infinite-scroll-window snippets-list" data-infinite-scroll-window-base-url="<%= snippets_path %>">
  <div style="display: flex; align-items: center; justify-content: space-between;">

      <div class="searchbar">
        <input autofocus
          type="text"
          placeholder="Search"
          data-action="input->infinite-scroll-window#search"
          data-infinite-scroll-window-target="input"
        />
        <img src="/icons/search.svg">
      </div>

    <%= link_to(new_modals_snippet_path, data: { controller: 'modal', action: 'modal#present', modal_url_value: new_modals_snippet_path }, class: 'button--add', title: "Add a new snippet")  do %>
      <%= image_tag "/icons/white/snippet-add.svg", width: 24 %>
    <% end %>
  </div>

  <div class="margin-top"
    data-infinite-scroll-window-target="entries"
    data-action="scroll@window->infinite-scroll-window#scroll snippet-created@window->infinite-scroll-window#add snippet-updated@window->snippets-list#update"
  >
    <%= render 'snippets/snippets' %>
  </div>

  <div data-infinite-scroll-window-target="pagination" class="hidden">
    <%= will_paginate @snippets, container: false %>
  </div>
</div>
