<div
  data-controller="snippets"
  data-action="click->snippets#view_snippet"
  data-snippet-url="<%= snippet_path(@snippet) %>"
  class="card--container card--container-padding snippet-preview--container"
>
  <div class="snippet-preview--author-wrapper">
    <%= render partial: 'users/preview', locals: { user: @snippet.user, resource: @snippet } %>
    <div>
      <div style="display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: flex-end; margin-bottom: 8px; align-items: center;">
          <span class="language-tag"><%= @snippet.language %></span>
          <% if @display_popover %>
            <%= render partial: 'popover/popover', locals: { popover_path: popover_snippet_path(@snippet) } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p class="snippet-preview--description"><%= @snippet.description %></p>
  <%= render partial: 'shared/code_highlight', locals: { code: @snippet.highlighted_body, language: @snippet.language } %>
</div>

<div class="snippet-show--comments-wrapper">
  <% @snippet.comments.each do |comment| %>
    <div class="card--container card--container-padding">
      <div class="snippet-preview--author-wrapper">
        <%= render partial: 'users/preview', locals: { user: comment.user, resource: comment } %>
        <div>
          <div style="display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: flex-end; margin-bottom: 8px; align-items: center;">
              <% if comment.created_by?(current_user) %>
                <%= render partial: 'popover/popover', locals: { popover_path: popover_comment_path(comment) } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <span class="comments--body"><%= comment.body %></span>
    </div>
  <% end %>
</div>

<%= render partial: 'comments/new', locals: { snippet: @snippet, comment: @comment } %>
