<%= render partial: 'snippets/snippet', locals: { snippet: @snippet }%>

<div class="snippet-show--comments-wrapper">
  <% @snippet.comments.each do |comment| %>
    <div id="<%= comment.client_id %>" class="card--container card--container-padding">
      <div class="snippet--author-wrapper">
        <%= render partial: 'users/preview', locals: { user: comment.user, resource: comment } %>
        <div>
          <div style="display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: flex-end; margin-bottom: 8px; align-items: center;">
              <% if comment.created_by?(current_user) %>
                <%= render partial: 'shared/popover_trigger', locals: { popover_path: popover_comment_path(comment) } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <span class="comments--body"><%= comment.body %></span>
    </div>
  <% end %>
</div>

<%= render partial: 'comments/new', locals: { snippet: @snippet, comment: @comment } %>
