<div class="hovercard-<%= @hovercard_position %>" data-target="hovercard.card">
  <div class="arrow"></div>
  <%= image_tag @user.avatar_url, class: "hovercard--image" %>
  <div>
    <span class="hovercard--heading"><%= @user.name %></span>
    <div class="horizontal-line--small"></div>
    <span class="hovercard--content"><%= @user.bio %></span>
    <span class="hovercard--footer"><strong><%= @user.followers_count %></strong> Followers <span class="color-primary">|</span> <strong><%= @user.following_count %></strong> Following</span>
  </div>
</div>
