<div class="card--container card--container-padding">
  <div class="flex">
    <div class="flex flex-col">
      <img style="border-radius: 50%;" src="<%= @user.avatar_url %>" height="120" width="120" />
      <% if @user == current_user %>
        <%= button_to 'Edit Profile', edit_user_registration_path, method: :get, class: 'mt-2 button--cta-tertiary flex w-full justify-center' %>
      <% else %>
        <%= render partial: 'users/follow_button', locals: { user: @user } %>
      <% end %>
    </div>
    <div class="ml-4 mt-4">
      <h2 class="users-show--name"><%= @user.name %></h2>
      <div style="height: 40px;">
        <span><%= @user.bio %></span>
      </div>
    </div>
  </div>
</div>

<div data-controller="tabs">
  <div class="tabs--headers-container">
    <div></div>
    <div class="tabs--headers-wrapper">
      <div data-target="tabs.tab" data-tab-id="snippets" data-action="click->tabs#change" class="tabs--header <%= tabs_class_for_active_tab(:snippets, @tab_id) %>">
        <span><%= pluralize(@user.filed_snippets.size, 'Snippet') %></span>
      </div>
      <div data-target="tabs.tab" data-tab-id="followers" data-action="click->tabs#change" class="tabs--header <%= tabs_class_for_active_tab(:followers, @tab_id) %>">
        <span><%= pluralize(@followers.size, 'Follower') %></span>
      </div>
      <div data-target="tabs.tab" data-tab-id="following" data-action="click->tabs#change" class="tabs--header <%= tabs_class_for_active_tab(:following, @tab_id) %>">
        <span><%= @following.size %> Following</span>
      </div>
    </div>
  </div>

  <div class="tabs-details">
    <div data-tabs-target="panel" class="<%= tabs_details_class_for_active_tab(:snippets, @tab_id) %>">
      <div data-controller="infinite-scroll-window" data-infinite-scroll-window-base-url="<%= user_snippets_path(@user) %>">
     

        <div class="mb-4 relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <%= render partial: 'shared/icons/search', locals: { width: 5, height: 5, color: 'text-gray-400' } %>
          </div>
          <input
            type="text" 
            class="focus:ring-indigo-500 focus:border-indigo-500 block w-1/2 pl-10 sm:text-sm border-gray-300 rounded-sm shadow-sm"
            placeholder="Search snippets"
            data-action="input->infinite-scroll-window#search"
            data-infinite-scroll-window-target="input"
          >
        </div>

        <div class="margin-top"
          data-infinite-scroll-window-target="entries"
          data-action="scroll@window->infinite-scroll-window#scroll"
        >
          <%= render 'snippets/snippets' %>
        </div>

        <div data-infinite-scroll-window-target="pagination" class="hidden">
          <%= will_paginate @snippets, container: false, params: { controller: "snippets", action: "index" } %>
        </div>
      </div>
    </div>

    <div data-tabs-target="panel" class="mt-4 <%= tabs_details_class_for_active_tab(:followers, @tab_id) %>">
      <%= render 'shared/cards/card_no_padding' do %>
        <ul class="divide-y divide-gray-200">
          <% @followers.each do |follower| %>
            <%= render partial: 'follow_preview', locals: { user: follower } %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div data-tabs-target="panel" class="mt-4 <%= tabs_details_class_for_active_tab(:following, @tab_id) %>">
      <%= render 'shared/cards/card_no_padding' do %>
        <ul class="divide-y divide-gray-200">
          <% @following.each do |following| %>
            <%= render partial: 'follow_preview', locals: { user: following } %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
