<card>
  <user-profile
    :user="<%= @serialized_user %>"
    :is-following="<%= @is_following %>"
  />
</card>

<div data-controller="tabs">
  <div class="tabs--headers-container">
    <div></div>
    <div class="tabs--headers-wrapper">
      <div data-target="tabs.tab" data-action="click->tabs#change" class="tabs--header tabs--header-active">
        <span><%= @user.filed_snippets.size %> Snippets</span>
      </div>
      <div data-target="tabs.tab" data-action="click->tabs#change" class="tabs--header">
        <span><%= @followers.size %> Followers</span>
      </div>
      <div data-target="tabs.tab" data-action="click->tabs#change" class="tabs--header">
        <span><%= @following.size %> Following</span>
      </div>
    </div>
  </div>

  <div class="tabs-details">
    <div data-target="tabs.panel">
      <div data-controller="infinite-scroll" data-infinite-scroll-base-url="<%= user_snippets_path(@user) %>">
        <div style="display: flex; align-items: center; justify-content: space-between;" class="margin-top">

            <div class="searchbar">
              <input autofocus
                type="text"
                placeholder="Search"
                data-action="input->infinite-scroll#search"
                data-target="infinite-scroll.input"
              />
              <img src="/icons/search.svg">
            </div>

        </div>

        <div class="margin-top"
          data-target="infinite-scroll.entries"
          data-action="scroll@window->infinite-scroll#scroll"
        >
          <%= render 'snippets/snippets' %>
        </div>

        <div data-target="infinite-scroll.pagination" class="hidden">
          <%= will_paginate @snippets, container: false, params: { controller: "snippets", action: "index" } %>
        </div>
      </div>
    </div>

    <div data-target="tabs.panel" class="hidden">
      <% @followers.each_with_index do |follower, index| %>
        <card>
          <a href="<%= user_path(follower)%>" class="follow--container">
            <user-preview :user="<%= follower.serialize.to_json %>"></user-preview>
            <span class="follow--description"><%= follower.bio %></span>
          </a>
        </card>
      <% end %>
    </div>

    <div data-target="tabs.panel" class="hidden">
      <% @following.each_with_index do |following_user, index| %>
        <card>
          <a href="<%= user_path(following_user)%>" class="follow--container">
            <user-preview :user="<%= following_user.serialize.to_json %>"></user-preview>
            <span class="follow--description"><%= following_user.bio %></span>
          </a>
        </card>
      <% end %>
    </div>
  </div>
</div>
