<card>
  <user-profile
    :user="<%= @serialized_user %>"
    :is-following="<%= @is_following %>"
  />
</card>

<div data-controller="tabs">
  <div class="tabs--headers-container">
    <div></div>
    <div class="tabs--headers-wrapper">
      <div data-target="tabs.tab" data-action="click->tabs#change" class="tabs--header tabs--header-active">
        <span><%= @user.snippets.size %> Snippets</span>
      </div>
      <div data-target="tabs.tab" data-action="click->tabs#change" class="tabs--header">
        <span><%= @followers.size %> Followers</span>
      </div>
      <div data-target="tabs.tab" data-action="click->tabs#change" class="tabs--header">
        <span><%= @following.size %> Following</span>
      </div>
    </div>
  </div>

  <div class="tabs-details">
    <div data-target="tabs.panel">
      <% @user.snippets.order(created_at: :desc).each do |snippet| %>
        <snippet-preview
          :key="<%= snippet.id %>"
          :snippet="<%= snippet.serialize(current_user).to_json %>">
        </snippet-preview>
      <% end %>
    </div>

    <div data-target="tabs.panel" class="hidden">
      <% @followers.each_with_index do |follower, index| %>
        <card>
          <a href="<%= user_path(follower)%>" class="follow--container">
            <user-preview :user="<%= follower.serialize.to_json %>"></user-preview>
            <span class="follow--description"><%= follower.bio %></span>
          </a>
        </card>
      <% end %>
    </div>

    <div data-target="tabs.panel" class="hidden">
      <% @following.each_with_index do |following_user, index| %>
        <card>
          <a href="<%= user_path(following_user)%>" class="follow--container">
            <user-preview :user="<%= following_user.serialize.to_json %>"></user-preview>
            <span class="follow--description"><%= following_user.bio %></span>
          </a>
        </card>
      <% end %>
    </div>
  </div>
</div>
