<card>
  <user-profile
    :user="<%= @serialized_user %>"
    :is-following="<%= @is_following %>"
  />
</card>

<%# <card> %>
  <tabs>
    <tab name="<%= @user.snippets_count %> Snippets" selected="true">
      <% @user.snippets.order(created_at: :desc).each do |snippet| %>
        <snippet-preview
          :key="<%= snippet.id %>"
          :snippet="<%= snippet.serialize(current_user).to_json %>">
        </snippet-preview>
      <% end %>
    </tab>
    <tab name="<%= @followers.size %> Followers">
      <% @followers.each_with_index do |follower, index| %>
        <card>
          <a href="<%= user_path(follower)%>" class="follow--container">
            <user-preview :user="<%= follower.serialize.to_json %>"></user-preview>
            <span class="follow--description"><%= follower.description %></span>
          </a>
        </card>
      <% end %>
    </tab>
    <tab name="<%= @following.size %> Following">
      <% @following.each_with_index do |following_user, index| %>
        <card>
          <a href="<%= user_path(following_user)%>" class="follow--container">
            <user-preview :user="<%= following_user.serialize.to_json %>"></user-preview>
            <span class="follow--description"><%= following_user.description %></span>
          </a>
        </card>
      <% end %>
    </tab>
  </tabs>
<%# </card> %>
