<%= render 'shared/user_admin', { header: @header, sub_header: @sub_header, footer: @footer } do %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div>
      <%= f.label :password, "New password", class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
    </div>

    <div class="mt-4">
      <%= f.label :password_confirmation, "Confirm new password", class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
    </div>

    <%= f.submit "CHANGE PASSWORD", class: 'mt-4 button--cta-primary w-full flex justify-center' %>
  <% end %>

<% end %>

