<div class="form--generic">
  <h1 class="text-center"><%= link_to 'SNIPPET SAFE', root_path %></h1>
  <h1 class="text-center">Forgot your password?</h1>
  <p class="text-center">Enter your email below and we'll send you instructions on how to reset your password</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form--generic-form-sign-in-up" }) do |f| %>
    <%= render "shared/errors", resource: resource %>

    <div class="form--field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "SEND RESET INSTRUCTIONS", class: "button--sign-in" %>
    </div>
  <% end %>

  <p class="text-center">Know your password? <%= link_to 'Sign in', new_user_session_path %></p>
</div>
