<%= render 'shared/user_admin', { header: @header, sub_header: @sub_header, footer: @footer } do %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "shared/errors", resource: resource %>

      <div>
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <%= f.submit "SEND RESET INSTRUCTIONS", class: "mt-4 button--cta-primary w-full flex justify-center" %>
    <% end %>

<% end %>
