<%= render 'shared/grid_list_item', url: folder_path(folder), id: folder.client_id do %>
  <div
    id="<%= folder.client_id %>"
    data-action="click->folders#selectFolder"
    data-folders-target="folder"
    data-folder-id="<%= folder.id %>"
  >
    <%= render partial: 'shared/icons/folder', locals: { color: 'text-gray-200 m-auto', width: 10, height: 10 } %>
    <div>
      <h5 class="text-center"><%= folder.name %></h5>
      <%= render partial: 'folders/counts', locals: { folder: folder } %>
    </div>
    <%= render partial: 'shared/popover_trigger', locals: { popover_path: popover_folder_path(folder), position: 'top-right' } %>
  </div>
<% end %>

