<div id="<%= folder.client_id %>" data-controller="navigation" data-action="click->navigation#navigate" data-navigation-url-value="<%= folder_path(folder) %>" class="card--container card--container-padding flex v-center pointer hover-grey">    
  <img class="block" src="/icons/icons8-folder.svg" width="25">
  <div class="margin-left">
    <span class="folders--list-item--title"><%= folder.name %></span>
    <span class="text-12 color-grey flex v-center margin-top--tiny"><%= folder.snippets.count %> snippets | <%= folder.snippets.private_snippets.count %> private | <%= folder.snippets.public_snippets.count %> public</span>
  </div>
  <%= render partial: 'shared/popover_trigger', locals: { popover_path: popover_folder_path(folder), position: 'top-right' } %>
</div>
