<% if user_signed_in? %>
  <div
    class="relative cursor-pointer transition"
    data-controller="like"
    data-like-target="container"
    data-like-url-value="<%= likes_path(like: { user_id: current_user&.id, snippet_id: snippet.id }) %>"
  >
    <div 
      class="flex h-full items-center mr-2 group border border-gray-300 rounded-md px-2 py-1 hover:border-red-500"
      data-action="click->like#toggle"
    >
      <%= render partial: 'shared/icons/heart', locals: { classes: "w-5 h-5 #{color_for_like_status(snippet)}" } %>
      <% if snippet.likes? %>
        <span class="inline-block text-sm text-gray-500 ml-1 -mb-0.5"><%= snippet.likes_count %></span>
      <% end %>
    </div>
  </div>
<% else %>
  <%= link_to(new_user_registration_path, class: "relative cursor-pointer transition") do %>
    <div class="flex h-full items-center mr-2 group border border-gray-300 rounded-md px-2 py-1 hover:border-red-500">
      <%= render partial: 'shared/icons/heart', locals: { classes: "w-5 h-5 #{color_for_like_status(snippet)}" } %>
      <% if snippet.likes? %>
        <span class="inline-block text-sm text-gray-500 ml-1 -mb-0.5"><%= snippet.likes_count %></span>
      <% end %>
    </div>
  <% end %>
<% end %>