<% if user_signed_in? %>
  <div
    data-controller="popover"
    data-action="click->popover#display click@window->popover#hide"
    data-popover-url="<%= popover_path %>"
    class="z-3 flex position-<%= defined?(position) ? position : 'relative' %>"
  >
    <% if defined?(content) %>
      <%= yield content %>
    <% else %>
      <div class="more-button">
        <%= render partial: 'shared/icons/more', locals: { classes: 'w-4 h4' } %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= link_to(new_user_registration_path, class: "position-#{defined?(position) ? position : 'relative'}") do %>
    <div class="more-button">
      <%= render partial: 'shared/icons/more', locals: { classes: 'w-4 h4' } %>
    </div>
  <% end %>
<% end %>
