<aside class="hidden lg:block xl:col-span-3 md:col-span-3">
  <div class="sticky position-sticky--topbar space-y-4">
    <% if user_signed_in? %>
      <div>
        <%= 
          button_tag(
            'NEW SNIPPET',
            class: 'w-full button--cta-primary flex justify-center mb-4',
            data: {
              controller: 'modal',
              action: 'modal#present',
              modal_url_value: new_modals_snippet_path(folder_id: new_snippet_folder_id)
            }
          )
        %>
      </div>
    <% end %>

    <%= turbo_frame_tag "connect", src: shared_connect_index_path %>
    <%= turbo_frame_tag "popular", src: shared_popular_index_path %>

    <% if user_signed_in? %>
      <%= render 'shared/cards/card_no_padding' do %>
        <h4 class="text-center pt-2">Theme</h4>
        <%= select_tag "theme", options_from_collection_for_select(Theme.order(name: :asc), :id, :name, current_user.theme_id), class: "block w-40 pl-3 pr-10 py-1 text-base border-none w-full focus:outline-none focus:ring-transparent sm:text-sm rounded-md pb-2", data: { controller: 'select', action: 'change->select#change', select_url_value: update_theme_user_path(current_user) } %>
      <% end %>
    <% end %>

    <div class="px-4 py-2">
      <div class="justify-center flex items-center">
        <span class="text-gray-500 mr-2">Feedback?</span>
        <%= link_to 'https://twitter.com/messages/compose?recipient_id=1365682148', target: '_blank', class: 'mr-1' do %>
          <%= render partial: 'shared/icons/twitter', locals: { classes: 'h-5 w-5 text-gray-400 hover:text-gray-500' } %>
        <% end %>
        <%= link_to 'mailto:lewis@snippetsafe.com', target: '_blank' do %>
          <%= render partial: 'shared/icons/mail', locals: { classes: 'h-5 w-5 text-gray-400 hover:text-gray-500' } %>
        <% end %>
      </div>
    </div>
  </div>
</aside>