<div class="sidebar--wrapper">
  <% if user_signed_in? %>
    <div class="card--container card--container-padding">
      <%= link_to user_path(current_user), style: "text-align: center;" do %>
        <img data-controller="image" data-action="update-image@window->image#update" src="<%= current_user.avatar_url %>" class="user-avatar" id="user-avatar" width="80" height="80">
        <h3 style="margin: 8px 0px 0px 0px;"><%= current_user.name %></h3>
      <% end %>
      <div class="horizontal-line--large"></div>
      <div class="menu-button--wrapper">
        <%= link_to root_path, class: request.fullpath == root_path ? 'menu-button--item-active' : 'menu-button--item' do %>
          <img src="/icons/icons8-home.svg" width="22">
          <span class="menu-button--name">Home</span>
        <% end %>
      </div>
      <div class="menu-button--wrapper">
        <%= link_to notifications_path, class: request.fullpath == notifications_path ? 'menu-button--item-active' : 'menu-button--item' do %>
          <%= notification_counter(current_user) %>
          <img src="/icons/icons8-notification-24.png" width="22">
          <span class="menu-button--name">Notifications</span>
        <% end %>
      </div>
      <div class="menu-button--wrapper">
        <%= link_to folders_path, class: request.fullpath == folders_path ? 'menu-button--item-active' : 'menu-button--item' do %>
          <img src="/icons/icons8-folder.svg" width="22">
          <span class="menu-button--name">Folders</span>
        <% end %>
      </div>
      <div class="menu-button--wrapper">
        <%= link_to snippets_path, class: request.fullpath == snippets_path ? 'menu-button--item-active' : 'menu-button--item' do %>
          <img src="/icons/icons8-file.svg" width="22">
          <span class="menu-button--name">Snippets</span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="flex h-center">
    <%= link_to('NEW SNIPPET', @modal_url, data: { controller: 'modal', action: 'modal#present', modal_url_value: @modal_url }, class: 'button--sidebar') %>
  </div>

  <%= render partial: 'shared/connect', locals: { users_for_connect: @users_for_connect }%>
</div>
