<div class="sidebar--wrapper">
  <% if user_signed_in? %>
    <card>
      <div style="text-align: center;">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG0MUNjxFvBTw/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=WnnJ_Q6MpQFur5Uev2iqeLAnoX6Rdb1Bv6RoAijK3tA" style="border-radius: 50%; display: block; margin: 0 auto;" width=80">
        <h3 style="margin: 8px 0px 0px 0px;"><%= current_user.name %></h2>
      </div>
      <div class="horizontal-line"></div>
      <div class="menu-button--wrapper">
        <%= link_to root_path, class: request.fullpath == root_path ? 'menu-button--item-active' : 'menu-button--item' do %>
          <img class="menu-button--icon" src="/icons/home.svg" width="20">
          <span class="menu-button--name">Home</span>
        <% end %>
      </div>
      <div class="menu-button--wrapper">
        <%= link_to folders_path, class: request.fullpath == folders_path ? 'menu-button--item-active' : 'menu-button--item' do %>
          <img class="menu-button--icon" src="/icons/folder-1.svg" width="20">
          <span class="menu-button--name">Folders</span>
        <% end %>
      </div>
      <div class="menu-button--wrapper">
        <%= link_to edit_user_registration_path, class: request.fullpath == edit_user_registration_path ? 'menu-button--item-active' : 'menu-button--item' do %>
          <img class="menu-button--icon" src="/icons/settings.svg" width="20">
          <span class="menu-button--name">Settings</span>
        <% end %>
      </div>
    </card>
    <card style="text-align: center;">
      <%= link_to(new_snippet_path, class: 'sidebar--new-snippet') do %>
        <span>NEW SNIPPET</span>
      <% end %>
    </card>
  <% else %>
    <%# temp fix for when user not signed in %>
    <card style="text-align: center;">
      <%= link_to('SIGN IN', new_user_session_path, class: "button--cta-blue") %>  
      <%= link_to('SIGN UP', new_user_registration_path, class: "button--cta-transparent") %>  
    </card>
  <% end %>
</div>
