<aside class="hidden lg:block xl:col-span-3 md:col-span-3">
  <div class="sticky position-sticky--topbar space-y-4">
    <% if user_signed_in? %>
      <%= render 'shared/cards/card_no_padding' do %>
        <div class="pt-2 pb-2">
          <%= link_to user_path(current_user), class: 'group' do %>
            <%= image_tag current_user.avatar_url, class: 'w-16 h-16 rounded-full m-auto'%>
            <h4 class="ml-2 mr-2 text-center mt-1 group-hover:underline"><%= current_user.name %></h4>
          <% end %>
          <p class="ml-2 mr-2 text-center text-sm"><%= pluralize(current_user.snippets_count, 'snippet') %> in <%= pluralize(current_user.languages_count, 'language') %></p>
        </div>
      <% end %>
      <div>
        <%= 
          button_tag(
            'NEW SNIPPET',
            class: 'w-full button--cta-primary flex justify-center',
            data: {
              controller: 'modal',
              action: 'modal#present',
              modal_url_value: new_modals_snippet_path(folder_id: new_snippet_folder_id)
            }
          )
        %>
      </div>
    <% end %>

    <%= render partial: 'shared/connect' %>

    <%= render 'shared/cards/card_no_padding' do %>
      <h4 class="text-center pt-2">Popular</h4>

      <ul class="divide-y divide-gray-200" data-infinite-scroll-window-target="entries" data-action="scroll@window->infinite-scroll-window#scroll">
        <% @popular_snippets.each do |snippet| %>
          <li
            class="cursor-pointer hover:bg-gray-50 group transition pt-4 pb-4 px-4"
            data-controller="navigation"
            data-navigation-url-value="<%= snippet_path(snippet) %>"
            data-action="click->navigation#navigate"
          >
            <div class="flex justify-between">
              <div class="flex">
                <%= render partial: 'shared/icons/heart', locals: { width: 5, height: 5, color: 'text-red-500' } %>
                <% if snippet.likes? %>
                  <span class="inline-block text-sm text-gray-500 ml-1 -mb-0.5"><%= snippet.likes_count %></span>
                <% end %>
              </div>
              <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-100 text-yellow-800">
                <%= snippet.language.name %>
              </span>
            </div>
            <p class="mt-2 font-normal group-hover:underline"><%= snippet.description %></p>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if user_signed_in? %>
      <%= render 'shared/cards/card_no_padding' do %>
        <h4 class="text-center pt-2">Theme</h4>
        <%= select_tag "theme", options_from_collection_for_select(Theme.order(name: :asc), :id, :name, current_user.theme_id), class: "block w-40 pl-3 pr-10 py-1 text-base border-none w-full focus:outline-none focus:ring-transparent sm:text-sm rounded-md pb-2", data: { controller: 'select', action: 'change->select#change', select_url_value: update_theme_user_path(current_user) } %>
      <% end %>
    <% end %>

    <div class="px-4 py-2">
      <div class="justify-center flex items-center">
        <span class="text-gray-500 mr-2">Feedback?</span>
        <%= link_to 'https://twitter.com/messages/compose?recipient_id=1365682148', target: '_blank', class: 'mr-1' do %>
          <%= render partial: 'shared/icons/twitter', locals: { classes: 'h-5 w-5 text-gray-400 hover:text-gray-500' } %>
        <% end %>
        <%= link_to 'mailto:lewis@snippetsafe.com', target: '_blank' do %>
          <%= render partial: 'shared/icons/mail', locals: { classes: 'h-5 w-5 text-gray-400 hover:text-gray-500' } %>
        <% end %>
      </div>
    </div>
  </div>
</aside>