<aside class="hidden lg:block xl:col-span-3 md:col-span-3">
  <div class="sticky position-sticky--topbar space-y-4">
    <% if user_signed_in? %>
      <%= 
        button_tag(
          'NEW SNIPPET',
          class: 'w-full button--cta-primary flex justify-center',
          data: {
            controller: 'modal',
            action: 'modal#present',
            modal_url_value: new_modals_snippet_path(folder_id: new_snippet_folder_id)
          }
        )
      %>
    <% else %>
      <div class="flex justify-center">
        <%= button_tag('LOG IN', type: :button, class: "flex-1 flex justify-center button--cta-tertiary", data: { controller: "modal", modal_url_value: sign_in_modals_users_path, action: "click->modal#present" }) %>
        <%= button_tag('SIGN UP', type: :button, class: "flex-1 flex justify-center button--cta-primary ml-2", data: { controller: "modal", modal_url_value: sign_up_modals_users_path, action: "click->modal#present" }) %>  
      </div>
    <% end %>

    <%= render partial: 'shared/connect' %>

    <div>
      <p class="text-center text-xs text-gray-500">by <%= link_to '@lewisyoul', 'https://twitter.com/lewisyoul', target: '_blank', class: 'hover:underline' %></p>
    </div>

  </div>
</aside>