<div id="header">
  <div id="header-nav-wrapper">
    <div id="header-nav" class="position-relative">
      <div class="flex items-center flex-1 ml-4 md:ml-4 lg:ml-0">
        <%= link_to root_path, class: 'flex-1' do %>
          <%= render partial: 'shared/icons/logo_full', locals: { height: 12, width: 28 } %>
        <% end %>
      </div>

      <div class="hidden md:flex items-center relative">
        <% if user_signed_in? %>
          <%= render partial: 'shared/nav_item', locals: { path: root_path, page_title: 'Feed', icon: 'home' } %>
          <%= render partial: 'shared/nav_item', locals: { path: folders_path, page_title: 'Folders', icon: 'folder' } %>
          <%= render partial: 'shared/nav_item', locals: { path: snippets_path, page_title: 'Snippets', icon: 'snippet' } %>
          <%= render partial: 'shared/nav_item', locals: { path: notifications_path, page_title: 'Notifications', icon: 'bell' } %>
          <%= render partial: 'shared/nav_item', locals: { path: connect_path, page_title: 'Connect', icon: 'connect' } %>
        <% end %>
        
        <% if false #@page_title %>
          <div data-controller="tooltip-listener" data-tooltip-listener-target="tooltip" data-action="hide-tooltip@window->tooltip-listener#hide display-tooltip@window->tooltip-listener#display" class="transition shadow-sm px-2 absolute text-sm bg-white text-cyan transform rounded-sm m-auto -bottom-2.5 left-1/2 -translate-x-2/4">
            <span><%= @page_title %></span>
          </div>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="hidden md:flex items-center flex-1 justify-end">
          <%= render partial: 'shared/profile_nav_item.html.erb' %>
        </div>
        <%= render partial: 'shared/mobile_menu' %>
      <% else %>
        <div class="flex flex-1 justify-end items-center">
          <%= button_tag('LOG IN', type: :button, class: "flex justify-center button--cta-tertiary", data: { controller: "modal", modal_url_value: sign_in_modals_users_path, action: "click->modal#present" }) %>
          <%= button_tag('SIGN UP', type: :button, class: "flex justify-center button--cta-primary ml-2", data: { controller: "modal", modal_url_value: sign_up_modals_users_path, action: "click->modal#present" }) %>  
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="header-spacer"></div>
