<% @snippets.each do |snippet| %>
  <% serialized = snippet.simple_serialize(current_user) %>
  
  <%= link_to snippet_path(snippet), class: "card--container card--container-padding snippet-preview--container" do %>
    <div class="snippet-preview--author-wrapper">
      <%= render partial: 'users/preview', locals: { user: snippet.user, resource: snippet } %>
      <div>
        <div style="display: flex; flex-direction: column;">
          <div style="display: flex; justify-content: flex-end; margin-bottom: 8px; align-items: center;">
            <span class="language-tag"><%= serialized[:language] %></span>
            
            <% if @display_popover %>
              <%= render partial: 'popover/popover', locals: { popover_path: popover_snippet_path(snippet) } %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <p class="snippet-preview--description"><%= serialized[:description] %></p>
    <%= render partial: 'shared/code_highlight', locals: { code: serialized[:highlighted_body], classes: "snippet-preview--content" } %>
  <% end %>
<% end %>
