<div class="form--generic" data-controller="registrations">
  <h1 class="text-center">Sign up for an account</h1>
  <p class="text-center">Already have an account? <a data-controller="modal" data-modal-url-value="<%= sign_in_modals_users_path %>" data-action="click->modal#present">Sign in</a></p>

  <%= form_for @user, url: user_registration_path, remote: true, html: { data: { type: "json", modal_url_value: confirm_email_modals_users_path, action: "ajax:success->modal#present ajax:error->registrations#onSignUpError" }, class: "form--generic-form-sign-in-up" } do |f| %>
    <%# <%= render "devise/shared/error_messages", resource: @user %>

    <div class="form--field">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "name", data: { registrations_target: 'name' } %>
    </div>

    <div class="form--field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="form--field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="form--field">
      <%= f.label :password_confirmation, 'Confirm password' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "SIGN UP", class: "button--cta-primary" %>
    </div>
  <% end %>
</div>
