<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-50">
  <div class="relative overflow-hidden">
    <div class="absolute inset-y-0 h-full w-full" aria-hidden="true">
      <div class="relative h-full">
        <svg class="absolute right-full transform translate-y-1/3 translate-x-1/4 md:translate-y-1/2 sm:translate-x-1/2 lg:translate-x-full" width="404" height="784" fill="none" viewBox="0 0 404 784">
          <defs>
            <pattern id="e229dbec-10e9-49ee-8ec3-0286ca089edf" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="784" fill="url(#e229dbec-10e9-49ee-8ec3-0286ca089edf)" />
        </svg>
        <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 sm:-translate-x-1/2 md:-translate-y-1/2 lg:-translate-x-3/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
          <defs>
            <pattern id="d2a68204-c383-44b1-b99f-42ccff4e5365" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="784" fill="url(#d2a68204-c383-44b1-b99f-42ccff4e5365)" />
        </svg>
      </div>
    </div>

    <div class="relative pt-6 pb-16 sm:pb-24">
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
          <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
            <div class="flex items-center justify-between w-full md:w-auto">
              <%= render partial: 'shared/icons/logo', locals: { width: 10, height: 10, color: 'text-cyan'} %>
              
            </div>
          </div>
          <div class="hidden md:flex md:space-x-10">
            
          </div>
          <div class="md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
            <span class="inline-flex rounded-md shadow">
              <%= button_to 'LOG IN', new_user_session_path, class: 'button--cta-tertiary mr-2', method: :get %>
              <%= button_to 'SIGN UP', new_user_registration_path, class: 'button--cta-primary', method: :get %>  
            </span>
          </div>
        </nav>
      </div>

      <!--
        Mobile menu, show/hide based on menu open state.

        Entering: "duration-150 ease-out"
          From: "opacity-0 scale-95"
          To: "opacity-100 scale-100"
        Leaving: "duration-100 ease-in"
          From: "opacity-100 scale-100"
          To: "opacity-0 scale-95"
      -->
     

      <div class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6">
        <div class="text-center">
          <h1 class="text-4xl tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block font-medium">Find out what</span>
            <span class="block text-cyan font-medium">everyone is building</span>
          </h1>
          <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
            Create, file and share code snippets, and keep track of snippets others create.
          </p>
        </div>
      </div>
    </div>
    <div class="relative">
      <div class="absolute inset-0 flex flex-col" aria-hidden="true">
        <div class="flex-1"></div>
        <div class="flex-1 w-full bg-cyan"></div>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <img class="relative rounded-lg shadow-lg" src="/example.png" alt="App screenshot">
      </div>
    </div>
  </div>
  <div class="bg-cyan">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:py-16 sm:px-6 lg:px-8">
     
    </div>
  </div>

  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="relative bg-white py-16 sm:py-24 lg:py-32">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
      <h2 class="text-base font-semibold tracking-wider text-cyan uppercase">All your code in one place</h2>
      <p class="mt-2 text-3xl font-medium text-gray-900 tracking-tight sm:text-4xl">
        Everything you need to keep track of your code
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
        Ever been in a situation where you can't find a code snippet you really need? We help you keep track of your code so this never happens again.
      </p>
      <div class="mt-12">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-cyan rounded-md shadow-lg">
                    <%= render partial: 'shared/icons/lock_closed', locals: { height: 6, width: 6, color: 'text-white' } %>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Private Snippets</h3>
                <p class="mt-5 text-base text-gray-500">
                  Mark snippets that you don't want to share in your feed as private and it will only ever be visible to you.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-cyan rounded-md shadow-lg">
                    <!-- Heroicon name: outline/cloud-upload -->
                    <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">100+ Languages</h3>
                <p class="mt-5 text-base text-gray-500">
                  Real time syntax highlighting support for over 100 of your favourite languages, with more on the way.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-cyan rounded-md shadow-lg">
                    <%= render partial: 'shared/icons/folder', locals: { height: 6, width: 6, color: 'text-white' } %>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Folders</h3>
                <p class="mt-5 text-base text-gray-500">
                  Organise your snippets, as well as those others have created into your own folder collections for easy reference later.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-cyan rounded-md shadow-lg">
                    <%= render partial: 'shared/icons/share', locals: { classes: 'w-6 h-6 text-white' } %>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Share Your Code</h3>
                <p class="mt-5 text-base text-gray-500">
                  Download your code or share it as a beautiful, customisable image directly to twitter at the click of a button.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-cyan rounded-md shadow-lg">
                    <%= render partial: 'shared/icons/search', locals: { height: 6, width: 6, color: 'text-white' } %>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Powerful Search</h3>
                <p class="mt-5 text-base text-gray-500">
                  Easily find snippets you've created by searching all of your snippets and folders using our powerful filters.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-cyan rounded-md shadow-lg">
                    <%= render partial: 'shared/icons/connect', locals: { height: 6, width: 6, color: 'text-white' } %>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Connect</h3>
                <p class="mt-5 text-base text-gray-500">
                  Follow other people in your community to build up a network of developers that share, collaborate and learn together.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
