<div class="form--generic mt-8">
  <h1 class="text-center text-4xl">Sign in to your account</h1>
  <p class="text-center mt-2">Don't have an account yet? <%= link_to 'Sign up', new_user_registration_path %></p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form--generic-form-sign-in-up" }) do |f| %>
    <%= render "shared/errors", resource: resource %>

    <div class="form--field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form--field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

     <div class="form--generic-remember-me">
      <div class="flex v-center" >
        <%= f.check_box :remember_me, checked: true %>
        <%= f.label :remember_me, class: "margin-left--tiny" %>
      </div>
      <%= link_to "Forgot your password?", new_user_password_path %>
    </div>

    <div class="actions">
      <%= f.submit "SIGN IN", class: "button--cta-primary w-full flex justify-center" %>
    </div>
  <% end %>
</div>
