<div
  class="px-4 py-5 sm:p-4 bg-white shadow rounded-md mb-4 <%= defined?(classes) ? classes : '' %>"
  <% if defined?(id) %>
    id="<%= id %>"
  <% end %>
  <% if defined?(data) %>
    <% data.each do |key, value| %>
      data-<%= key.to_s.dasherize %>="<%= value %>"
    <% end %>
  <% end %>
>
  <%= yield %>
</div>
