<div class="padding-left padding-bottom position-sticky z-3 bg-grey flex v-center space-between">
  <div>
    <h2 class="no-margin"><%= @folder.name %></h2>
    <%= render partial: 'folders/counts', locals: { folder: @folder } %>
  </div>
  <%= link_to(new_modals_snippet_path(folder_id: @folder.id), data: { controller: 'modal', action: 'modal#present', modal_url_value: new_modals_snippet_path(folder_id: @folder.id) }, class: 'button--add', title: "Add a new snippet to #{@folder.name}")  do %>
    <%= image_tag "/icons/white/snippet-add.svg", width: 24 %>
  <% end %>
</div>

<% if @snippets.any? %>
  <% @snippets.each do |snippet| %>
    <%= render partial: 'snippets/snippet_preview', locals: { snippet: snippet } %>
  <% end %>
<% else %>
  <%= render 'shared/empty_state_message' do %>
    <span class="color-grey block text-center margin-top">You haven't added any snippets to this folder yet. Why not <%= link_to('create one', new_modals_snippet_path(folder_id: @folder.id), data: { controller: 'modal', action: 'modal#present', modal_url_value: new_modals_snippet_path(folder_id: @folder.id) }, class: 'color-primary') %>.</span>
  <% end %>
<% end %>
