<!DOCTYPE html>
<html>
  <head>
    <style>
      

      .user-avatar {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
    </style>

    <title>SnippetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'snippet_app' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/github-gist.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css" integrity="sha512-w+u2vZqMNUVngx+0GVZYM21Qm093kAexjueWOv9e9nIeYJb1iEfiHC7Y+VvmP/tviQyA5IR32mwN/5hTEJx6Ng==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js" integrity="sha512-9pGiHYK23sqK5Zm0oF45sNBAX/JqbZEP7bSDHyt+nT3GddF+VFIcYNqREt0GDpmFVZI3LZ17Zu9nMMc9iktkCw==" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'shared/topbar' %>
    <%= render partial: 'shared/modal' %>
    <%= render partial: 'shared/alert' %>
    <%= render partial: 'shared/toast' %>

    <div id="app">
      <div style="display: flex;">
        <div style="flex: 1; margin-right: 16px;">
          <%= render 'shared/sidebar' %>
        </div>
        <div style="flex: 4; min-width: 300px;">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
