<!DOCTYPE html>
<html>
  <head>
    <style>
      .user-avatar {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
    </style>

    <title>Snippet Safe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'snippet_app' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for? :cache_control %>
      <%= yield :cache_control %>
    <% end %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css" integrity="sha512-w+u2vZqMNUVngx+0GVZYM21Qm093kAexjueWOv9e9nIeYJb1iEfiHC7Y+VvmP/tviQyA5IR32mwN/5hTEJx6Ng==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js" integrity="sha512-9pGiHYK23sqK5Zm0oF45sNBAX/JqbZEP7bSDHyt+nT3GddF+VFIcYNqREt0GDpmFVZI3LZ17Zu9nMMc9iktkCw==" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'shared/toast' %>
    <%= render partial: 'shared/topbar' %>


    <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
      <div class="min-h-screen bg-gray-100">
        <!-- When the mobile menu is open, add `overflow-hidden` to the `body` element to prevent double scrollbars -->
        <!-- On: "fixed inset-0 z-40 overflow-y-auto", Off: "undefined" -->

        <div class="max-w-3xl mx-auto lg:max-w-7xl lg:grid lg:grid-cols-12 lg:gap-8 min-h-screen" data-controller="folders" data-folders-folder-id-value="<%= @folders.first.id %>">
          <%= render 'shared/cards/card', classes: 'xl:block xl:col-span-3 sticky position-sticky--topbar folders' do %>
            <div class="border h-full rounded-lg overflow-y-scroll">
              <div>
                <%= yield(:folders_sidebar) %>
              </div>
            </div>
          <% end %>
  
          <main class="lg:col-span-9 xl:col-span-9 mt-4">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
