<!DOCTYPE html>
<html>
  <head>
    <style>
      .card--container {
        background-color: white;
        border-radius: 2px;
        position: relative;
        margin: 16px 0px;
        padding: 16px 8px;
        box-shadow: 0 1px 4px lightgrey;
      }
          
      .card--container-padding {
        padding: 16px;
      }
    </style>

    <title>SnippetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'snippet_app' %>

    <%= javascript_pack_tag 'snippet_app' %>
    <%= javascript_pack_tag 'application' %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/styles/solarized-light.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/highlight.min.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <div id="vue-app" data-user="<%= current_user.serialize.to_json %>" v-cloak>
    <% else %>
      <div id="vue-app" v-cloak>
    <% end %>
      <toast alert="<%= alert %>" notice="<%= notice %>"></toast>
      <alert></alert>
      <popover></popover>

      <%= render partial: 'shared/topbar' %>

      <div id="app">
        <div style="display: flex;">
          <div style="flex: 1; margin-right: 16px;">
            <%= render 'shared/sidebar' %>
          </div>
          <div style="flex: 4; min-width: 300px;">
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
