<!DOCTYPE html>
<html>
  <head>
    <title>SnippetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'snippet_app' %>

    <%= javascript_pack_tag 'snippet_app' %>
    <%= javascript_pack_tag 'application' %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/styles/solarized-light.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/highlight.min.js"></script>
  </head>

  <body>
    <div id="vue-app" data-user="<%= current_user.to_json %>" v-cloak>
      <toast alert="<%= alert %>" notice="<%= notice %>"></toast>
      <alert></alert>
      <popover></popover>

      <%= render partial: 'shared/topbar' %>

      <div id="app">
        <div style="display: flex;">
          <div style="flex: 1; margin-right: 16px;">
            <%= render 'shared/sidebar' %>
          </div>
          <div style="flex: 4; min-width: 300px;">
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
